exclude ase/calculators/kim/requirements.txt
exclude ase/gui/po/.gitignore

exclude .flake8
exclude .gitignore
exclude .gitlab-ci.yml
exclude .mailmap

exclude appveyor.yml
exclude mypy.ini

prune doc
prune tools

prune .gitlab/
